@model IEnumerable<dream_carMVC.Models.Company>

@{
    ViewData["Title"] = "Company ";
}

<h1>Companies</h1>

<p>
    <a asp-action="Create">Create New Company</a>
</p>
<table class="table" width="50%">
    <thead>
        <tr>
            <th>
                Name
            </th><!--display data on website -->
            <th>
                Website
            </th><!--display data on website -->
            <th>
                Phone
            </th><!--display data on website -->
            <th>
                Email
            </th><!--display data on website -->
            <th>
                Headquater
            </th><!--display data on website -->
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Company_Name)<!--link where it is pickup from-->
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company_Website)
                </td><!--link where it is pickup from-->
                <td>
                    @Html.DisplayFor(modelItem => item.Company_Phone)
                </td><!--link where it is pickup from-->
                <td>
                    @Html.DisplayFor(modelItem => item.Company_Email)
                </td><!--link where it is pickup from-->
                <td>
                    @Html.DisplayFor(modelItem => item.Company_Headquater)
                </td><!--link where it is pickup from-->
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <!--to edit data-->|
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a><!--to detail data--> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a><!--to delete data-->
                </td>
            </tr>
        }
    </tbody>
</table>
