@model dream_carMVC.Models.Model

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Model</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model_Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model_Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dealer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dealer.Dealer_Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
