@model IEnumerable<dream_carMVC.Models.Model>

@{
    ViewData["Title"] = "Index";
}

<h1>Models</h1>

<p>
    <a asp-action="Create">Add Models</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Model
            </th>
            <th>
                Year
            </th>
            <th>
                Company
            </th>
            <th>
                Dealer
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Model_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model_Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dealer.Dealer_Address)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
