@model IEnumerable<dream_carMVC.Models.Specification>

@{
    ViewData["Title"] = "Index";
}

<h1>Specification</h1>

<p>
    <a asp-action="Create">Add Features</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Fuel
            </th><!--display data name-->
            <th>
                Transmission
            </th><!--display data name-->
            <th>
                GPS
            </th><!--display data name-->
            <th>
                Rating
            </th><!--display data name-->
            <th>
                Model
            </th><!--display data name-->
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fuel_type)
                </td><!--link from where data pick-->
                <td>
                    @Html.DisplayFor(modelItem => item.Transmission)
                </td>
                <!--link from where data pick-->
                <td>
                    @Html.DisplayFor(modelItem => item.GPS)
                </td><!--link from where data pick-->
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td><!--link from where data pick-->
                <td>
                    @Html.DisplayFor(modelItem => item.Model.Model_Name)
                </td><!--link from where data pick-->
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |<!--to edit data-->
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |<!--to  detail data-->
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a><!--to delete data-->
                </td>
            </tr>
        }
    </tbody>
</table>
