@model IEnumerable<dream_carMVC.Models.Dealer>

@{
    ViewData["Title"] = "Index";
}

<h1>Dealers</h1>

<p>
    <a asp-action="Create">Add New Dealer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th><!--display data on website -->
            <th>
                Website
            </th><!--display data on website -->
            <th>
                Address
            </th><!--display data on website -->
            <th>
                Email
            </th><!--display data on website -->
            <th>
                Company
            </th><!--display data on website -->
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Dealer_Name)
                </td><!--link where it is pickup from-->
                <td>
                    @Html.DisplayFor(modelItem => item.Dealer_Website)
                </td><!--link where it is pickup from-->
                <td>
                    @Html.DisplayFor(modelItem => item.Dealer_Address)
                </td><!--link where it is pickup from-->
                <td>
                    @Html.DisplayFor(modelItem => item.Dealer_Email)
                </td><!--link where it is pickup from-->
                <td>
                    @Html.DisplayFor(modelItem => item.Company.Company_Name)
                </td><!--link where it is pickup from-->
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |<!--to edit data-->
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |<!--to detail data-->
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a><!--to delete data-->
                </td>
            </tr>
        }
    </tbody>
</table>
